* {
    box-sizing: border-box; /*Impede o aumento do tamanho de width com o uso de padding */
    margin: 0;
    padding: 0;
}

body {
    background: #e6ecf0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /*Reduz a quebra de pixels da fonte*/ 
    -webkit-font-smoothing: antialiased !important; /*Suavia o render das fontes*/
}

input, button {
    outline: 0;
}

.content {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1170px;
}

header#main-header {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.25);
    height: 46px;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

header#main-header nav ul {
    display: flex;
    list-style: none;   
}

header#main-header nav ul li {
    display: flex;
    align-items: center;

    color: #667580;
    font-size: 13px;
    font-weight: bold;

    margin-left: 30px;
}

header#main-header nav ul li:first-child {
    margin: 0;
}

header#main-header nav ul li img {
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side input {
    background: #f5f8fa url('asserts/search.svg') no-repeat 190px center;
    border: 1px solid #e6ecf0;
    border-radius: 16px;
    color: #667581;
    font-size: 12px;
    height: 34px;
    padding: 0 30px 0 12px;
    width: 220px;
}

header#main-header div.side img {
    border-radius: 50%;
    height: 34px;
    margin: 0 15px;
    width: 35px;
}

header#main-header div.side button {
    background: #3bb9e3;
    height: 34px;

    align-items: center;
    display: flex;
    justify-content: center;

    border: 0;
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 90px;
    width: 90px;
}